<p id="notice"><%= notice %></p>

<p>
  <strong>Offer type:</strong>
  <%= @listing.offer_type %>
</p>

<p>
  <strong>Object:</strong>
  <%= @listing.object %>
</p>

<p>
  <strong>Land area:</strong>
  <%= @listing.land_area %>
</p>

<p>
  <strong>Floor area:</strong>
  <%= @listing.floor_area %>
</p>

<p>
  <strong>Town and province:</strong>
  <%= @listing.town_and_province %>
</p>

<p>
  <strong>Bedroom:</strong>
  <%= @listing.bedroom %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @listing.bathroom %>
</p>

<p>
  <strong>Carport:</strong>
  <%= @listing.carport %>
</p>

<p>
  <strong>Image:</strong>
  <%= @listing.image %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
