<p id="notice"><%= notice %></p>

<p>
  <strong>Offer type:</strong>
  <%= @property.offer_type %>
</p>

<p>
  <strong>Object:</strong>
  <%= @property.object %>
</p>

<p>
  <strong>Land area:</strong>
  <%= @property.land_area %>
</p>

<p>
  <strong>Floor area:</strong>
  <%= @property.floor_area %>
</p>

<p>
  <strong>Town and province:</strong>
  <%= @property.town_and_province %>
</p>

<p>
  <strong>Bedroom:</strong>
  <%= @property.bedroom %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @property.bathroom %>
</p>

<p>
  <strong>Carport:</strong>
  <%= @property.carport %>
</p>

<p>
  <strong>Image:</strong>
  <%= @property.image %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
