
<h2>Cities in Manila</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
	<div class="col">
		<div class="card">
			<%= image_tag("taguig city.png", alt:"Taguig City", style: "width: 100%;") %>
			<div class="card-body">
				<h5 class="card-title">Taguig City</h5>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<%= image_tag("makati city.png", alt:"Taguig City", style: "width: 100%;") %>
			<div class="card-body">
				<h5 class="card-title">Makati City</h5>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<%= image_tag("pasay city.png", alt:"Pasay City", style: "width: 100%;") %>
			<div class="card-body">
				<h5 class="card-title">Pasay City</h5>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<%= image_tag("paranaque.png", alt:"Taguig City", style: "width: 100%;") %>
			<div class="card-body">
				<h5 class="card-title">Paranaque</h5>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<%= image_tag("quezon city.png", alt:"Taguig City", style: "width: 100%;") %>
			<div class="card-body">
				<h5 class="card-title">Quezon City</h5>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<%= image_tag("caloocan city.png", alt:"Caloocan City", style:"width: 100%;") %>
			<div class="card-body">
				<h5 class="card-title">Caloocan City</h5>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<%= image_tag("manila city.png", alt:"Intramuros", style:"width: 100%;") %>
			<div class="card-body">
				<h5 class="card-title">City of Manila</h5>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<%= image_tag("las pinas city.png", alt:"Las Pinas", style:"width: 100%;") %>
			<div class="card-body">
				<h5 class="card-title">Las Piñas City</h5>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<%= image_tag("unavailable image.png", style:"width: 100%;") %>
			<div class="card-body">
				<h5 class="card-title">Malabon City</h5>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<%= image_tag("mandaluyong city.png", alt:"EDSA", style:"width: 100%;") %>
			<div class="card-body">
				<h5 class="card-title">Mandaluyong City</h5>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<%= image_tag("marikina city.png", alt:"Marikina City", style:"width: 100%;") %>
			<div class="card-body">
				<h5 class="card-title">Marikina City</h5>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<%= image_tag("muntinlupa city.png", alt:"Sunken Garden", style:"width: 100%;") %>
			<div class="card-body">
				<h5 class="card-title">Muntinlupa City</h5>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<%= image_tag("navotas city.png", style:"width: 100%;") %>
			<div class="card-body">
				<h5 class="card-title">Navotas City</h5>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<%= image_tag("pasig city.png", alt:"Pasig City", style:"width: 100%;") %>
			<div class="card-body">
				<h5 class="card-title">Pasig City</h5>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<%= image_tag("unavailable image.png", style:"width: 100%;") %>
			<div class="card-body">
				<h5 class="card-title">Pateros</h5>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<%= image_tag("unavailable image.png", style:"width: 100%;") %>
			<div class="card-body">
				<h5 class="card-title">San Juan City</h5>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<%= image_tag("valenzuela city.png", alt:"NLEX", style:"width: 100%;") %>
			<div class="card-body">
				<h5 class="card-title">Valenzuela City</h5>
			</div>
		</div>
	</div>
</div>

