
<title>All our Contents</title> 

<div class="container">
	<h1>Browse through our Table of Contents</h1>
	<br>
	<div class="row row-cols-1 row-cols-md-3 g-4">

		<%= render "articles group/letter A" %>
		<%= render "articles group/letter B" %>
		<%= render "articles group/letter L" %>
		<%= render "articles group/letter M" %>
		<%= render "articles group/letter P" %>
	</div>
</div>

<!-- Sample starts here -->
<!-- <div class="col">
	<div class="card">
		<div class="card-body">
			<a class="link-dark" data-bs-toggle="collapse" href="#multiCollapseExample__" role="button" aria-expanded="false" aria-controls="multiCollapseExample__">
				< %= image_tag("", alt:"", style:"width: 100%;") %>
				<h5 class="card-title"> </h5>
				<p> </p>
			</a>
			<div class="collapse" id="multiCollapseExample__">
				<hr>
				<p>If you see this crap then the bootstrap worked or works.</p>
			</div>
		</div>
	</div>
</div> -->
<!-- Sample ends here -->

<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
</p>
<div class="row">
  <div class="col">
    <div class="card card-body">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
      </div>
      <div class="collapse multi-collapse" id="multiCollapseExample2">
      	Crap happens...
      </div>
    </div>
  </div>
</div>
