
<title>Home</title>

<div class="container">
	<h1>Home - Cerebrealty</h1>
	<br>
	<div class="card">
		<a href="<%= home_about_us_path %>">
			<%= image_tag("background.png", style:"width: 100%;") %>
		</a>
		<div class="card-body">
			<a class="link link-dark" href="<%= home_about_us_path %>">
				<h5 class="card-title">About Us</h5>
			</a>
			<p>
				Cerebrealty.com.ph is a website designed for property enlistment, display of enlisted properties offered by some of the top developers in the Philippines like Avida, SM Development Corporation (SMDC), AyalaLand, Al... 
				<a href="<%= home_about_us_path %>">See More...</a>
				And we also offer you... <a href="<%= home_about_us_path %>">See More...</a>
			</p> 
		</div>
	</div> 
	<br>
	<h2>Stuff we offer</h2>
	<div class="row row-cols-1 row-cols-md-3 g-4">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<%= image_tag("law.png", alt:"law.png", style:"width: 100%;") %>
					<h5 class="card-title">Legal Advices (coming soon)</h5>
					<p class="card-text">Ask us anything about the law.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body">
					<%= image_tag("unavailable image.png", style:"width: 100%;") %>
					<h5 class="card-title">Something</h5>
					<p class="card-text">This is a dummy text.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body">
					<%= image_tag("land surveying.png", style:"width: 100%;") %>
					<h5 class="card-title">Land Surveying (coming soon)</h5>
					<p class="card-text">Set up an imaginary perimeter around a particular property.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body">
					<%= image_tag("land plotting.png", style:"width: 100%;") %>
					<h5 class="card-title">Land Title plotting (coming soon)</h5>
					<p class="card-text">Using our in-development software, determine the shape of your property the help of the coordinates enlisted at the back of your title.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body text-center">
					<br><br><br><br><br><br>
					<a href="<%= home_articles_path %>">
						<button type="button" class="btn btn-primary">See More Articles</button>
					</a>
					<br><br><br><br><br><br>
				</div>
			</div>
		</div>
	</div>
</div> 
<br>

<%= render "plugin home public/real estate plugin" %>
<%= render "plugin home public/law plugin" %>
<%= render "plugin home public/engineering plugin" %>

<nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading1">First</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading2">Second</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#scrollspyHeading3">Third</a></li>
        <li><a class="dropdown-item" href="#scrollspyHeading4">Fourth</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#scrollspyHeading5">Fifth</a></li>
      </ul>
    </li>
  </ul>
</nav>
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
  <h4 id="scrollspyHeading1">First heading</h4>
  <p>...</p>
  <h4 id="scrollspyHeading2">Second heading</h4>
  <p>...</p>
  <h4 id="scrollspyHeading3">Third heading</h4>
  <p>...</p>
  <h4 id="scrollspyHeading4">Fourth heading</h4>
  <p>...</p>
  <h4 id="scrollspyHeading5">Fifth heading</h4>
  <p>...</p>
</div>
