<%= form_with(model: real_estate) do |form| %>
  <% if real_estate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(real_estate.errors.count, "error") %> prohibited this real_estate from being saved:</h2>

      <ul>
        <% real_estate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">
      <%= form.label :caption %>
    </span>

    <%= form.text_field :caption, class:"form-control" %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">
      <%= form.label :offer_type %>
    </span>

    <%= form.select :offer_type, ["For Sale", "For Lease", "Development", "Foreclosed"], class:"form-select" %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">
      <%= form.label :object %>
    </span>

    <%= form.select :object, ["Condominium", "House and Lot", "House", "Lot", "Townhouse", "Lot with Structure", "Farmland", "Apartment", "Commercial", "Industrial"] %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">
      <%= form.label :land_area %>
    </span>

    <%= form.number_field :land_area, class:"form-control" %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">
      <%= form.label :floor_area %>
    </span>

    <%= form.number_field :floor_area, class:"form-control" %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">
      <%= form.label :town_and_province %>
    </span>

    <%= form.text_field :town_and_province, class:"form-control" %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">
      <%= form.label :bedroom %>
    </span>
    
    <%= form.number_field :bedroom, class:"form-control" %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">
      <%= form.label :bathroom %>
    </span>
    
    <%= form.number_field :bathroom, class:"form-control" %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">
      <%= form.label :carport %>
    </span>
    
    <%= form.number_field :carport, class:"form-control" %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">
      <%= form.label :image %>
      <%= form.file_field :image, class:"form-control" %>
    </span>
    
  </div>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
