<%= form_with(model: real_estate) do |form| %>
  <% if real_estate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(real_estate.errors.count, "error") %> prohibited this real_estate from being saved:</h2>

      <ul>
        <% real_estate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :offer_type %>
    <%= form.select :offer_type, ["For Sale", "For Lease", "Development", "Foreclosed"] %>
  </div>

  <div class="field">
    <%= form.label :object %>
    <%= form.select :object, ["Condominium", "House and Lot", "House", "Lot", "Townhouse", "Lot with Structure", "Farmland", "Apartment", "Commercial", "Industrial"] %>
  </div>

  <div class="field">
    <%= form.label :land_area %>
      <%= form.number_field :land_area %>
  </div>

  <div class="field">
    <%= form.label :floor_area %>
    <%= form.number_field :floor_area %>
  </div>

  <div class="field">
    <%= form.label :town_and_province %>
    <%= form.text_field :town_and_province %>
  </div>

  <div class="field">
    <%= form.label :bedroom %>
    <%= form.number_field :bedroom %>
  </div>

  <div class="field">
    <%= form.label :bathroom %>
    <%= form.number_field :bathroom %>
  </div>

  <div class="field">
    <%= form.label :carport %>
    <%= form.number_field :carport %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
