<%= form_with(model: real_estate) do |form| %>
  <% if real_estate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(real_estate.errors.count, "error") %> prohibited this real_estate from being saved:</h2>

      <ul>
        <% real_estate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating mb-3">
    <% if real_estate.image.attached? %>
      <%= image_tag real_estate.image, style:"max-width: 50%;" %>
    <% end %>

    <%= form.file_field :image, class:"form-control" %>
  </div> 

  <div class="form-group">
    <%= form.submit controller.action_name.capitalize + " Main Photo", class:"btn btn-primary" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :synopsis, class:"form-control" %>
    <%= form.label :synopsis %>
  </div>
  
  <div class="form-floating mb-3">
    <%= form.text_field :caption, class:"form-control" %>
    <%= form.label :caption %>
  </div>

  <div class="form-floating mb-3">
    <%= form.select :offer_type, ["Category ", "For Sale", "For Lease", "Development", "Foreclosed"], class:"form-select" %>
    <%= form.label :offer_type %>
    
  </div>

  <div class="form-floating mb-3 input-group mb-3">
    <%= form.select :object, ["Condominium", "House and Lot", "House", "Lot", "Townhouse", "Lot with Structure", "Farmland", "Apartment", "Commercial", "Industrial"] %>
    <%= form.label :object %>
  </div>

  <div class="form-floating mb-3">
    <input type="number" name="">
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :town_and_province, class:"form-control" %>
    <%= form.label :town_and_province %>
  </div>

  <br>
  Technical Descriptions:
  <br><br>
  <div class="form-floating mb-3">
     <%= form.number_field :land_area, class:"form-control" %>
    <%= form.label :land_area %>
  </div>

  <div class="form-floating mb-3">
    <%= form.number_field :floor_area, class:"form-control" %>
    <%= form.label :floor_area %>
  </div>

  <div class="form-floating mb-3">
    <%= form.number_field :bedroom, class:"form-control" %>
    <%= form.label :bedroom %>
  </div>

  <div class="form-floating mb-3">
    <%= form.number_field :bathroom, class:"form-control" %>
    <%= form.label :bathroom %>
  </div>

  <div class="form-floating mb-3">
    <%= form.number_field :carport, class:"form-control" %>
    <%= form.label :carport %>
  </div>



  <br>
  <div class="actions">
    <%= form.submit class:"btn btn-success" %>
  </div>
<% end %>
