
<div style="background-color: black;">
	<br>
	<div class="container text-white">
		<h2><a href="" class="link-light">Law Section</a></h2>
		<br>
		<p>Browse our services</p>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			
			<div class="col">
				<a href="" ><p>
					<div class="card border-primary border-3 mb-3" style="background-color: black;">
						<div class="card-body">
							<%= image_tag("unavailable image.png", style:"width: 100%;") %>
							<h5 class="card-title">Legal Advices</h5>
						</div>
					</div>
				</p></a>
			</div>
			
			
			<div class="col">
				<a href="">
					<div class="card border-primary border-3 mb-3" style="background-color: black;">
						<div class="card-body">
							<%= image_tag("unavailable image.png", style:"width: 100%;") %>
							<h5 class="card-title">Consultancy</h5>
						</div>
					</div>
				</a>
			</div>
			
			
			<div class="col">
				<a href="">
					<div class="card border-primary border-3 mb-3" style="background-color: black;">
						<div class="card-body">
							<%= image_tag("unavailable image.png", style:"width: 100%;") %>
							<h5 class="card-title">Primary card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
				</a>
			</div>
			
			
			<div class="col">
				<a href="">
					<div class="card border-primary border-3 mb-3" style="background-color: black;">
						<div class="card-body">
							<%= image_tag("unavailable image.png", style:"width: 100%;") %>
							<h5 class="card-title">Primary card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
				</a>
			</div>
			
			
			<div class="col">
				<a href="">
					<div class="card border-primary border-3 mb-3" style="background-color: black;">
						<div class="card-body">
							<%= image_tag("unavailable image.png", style:"width: 100%;") %>
							<h5 class="card-title">Primary card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
				</a>
			</div>

		</div>
	</div>
	<br>
</div>
