
<div class="bg-primary">
	<br>
	<div class="container text-white">
		<h2><a href="<%= real_estates_path %>" class="link-light">Real Estate Section</a></h2>
		<br>
		<p>Browse Properties in these areas:</p>
	</div>
	<div class="container">
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col">
				<div class="card">
					<%= image_tag("taguig city.png", alt:"Taguig City", style: "width: 100%;") %>
					<div class="card-body">
						<h5 class="card-title">Taguig City</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in  additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<%= image_tag("makati city.png", alt:"Taguig City", style: "width: 100%;") %>
					<div class="card-body">
						<h5 class="card-title">Makati City</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in  additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<%= image_tag("pasay city.png", alt:"Pasay City", style: "width: 100%;") %>
					<div class="card-body">
						<h5 class="card-title">Pasay City</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in  additional content.</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<%= image_tag("paranaque.png", alt:"Taguig City", style: "width: 100%;") %>
					<div class="card-body">
						<h5 class="card-title">Paranaque</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in  additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<%= image_tag("quezon city.png", alt:"Taguig City", style: "width: 100%;") %>
					<div class="card-body">
						<h5 class="card-title">Quezon City</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in  additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
			<!-- <div class="col">
				<div class="card">
					<div class="card-body text-center">
						<br><br><br><br><br><br><br>
						<button type="button" class="btn btn-primary">See More</button>
						<br><br><br><br><br><br><br>
					</div>
				</div>
			</div> -->
		</div>
	</div>
	<br>
</div>
